.section {
  border-bottom: 2px solid #eee;
}
.section .section-list {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 1rem;
  border-left: 2px solid #eee;
}

h5.section {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
}

p.section {
  font-size: 12px;
  line-height: 18px;
}