.section {
  border-bottom: 2px solid #eee;
}
.section .section-list {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 1rem;
}
.section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h5.section {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
}

p.section {
  font-size: 12px;
  line-height: 18px;
}