.section-container {
  max-height: calc(100vh - 313px);

  overflow: scroll;
  padding: 0;
}
.section-container:first-child {
  border-top: 2px solid #eee;
}
.section {
  padding: 0 25px;
}
.section .section-list {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 1rem;
}
.section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h5.section {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
}

p.section {
  font-size: 12px;
  line-height: 18px;
}

@media screen and (max-width: 760px) {
  .section-container {
    height: auto;
    overflow: visible;
  }
}
